_misc/estoquews-local-wsdl-aula6.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.modelo.soap.jaxws.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.modelo.soap.jaxws.br/" name="EstoqueWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.modelo.soap.jaxws.br/" schemaLocation="http://localhost:8080/estoquews?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="gerarRelatorioTeste">
<part name="parameters" element="tns:gerarRelatorioTeste"></part>
</message>
<message name="cadastraritem">
<part name="parameters" element="tns:cadastraritem"></part>
<part name="token" element="tns:token"></part>
</message>
<message name="cadastraritemResponse">
<part name="result" element="tns:cadastraritemResponse"></part>
</message>
<message name="AutorizacaoFaultMessageName">
<part name="fault" element="tns:AutorizacaoFault"></part>
</message>
<message name="todosOsItens">
<part name="parameters" element="tns:listaItens"></part>
</message>
<message name="todosOsItensResponse">
<part name="parameters" element="tns:itens"></part>
</message>
<portType name="EstoqueWS">
<operation name="gerarRelatorioTeste">
<input wsam:Action="http://ws.modelo.soap.jaxws.br/EstoqueWS/gerarRelatorioTeste" message="tns:gerarRelatorioTeste"></input>
</operation>
<operation name="cadastraritem" parameterOrder="parameters token">
<input wsam:Action="http://ws.modelo.soap.jaxws.br/EstoqueWS/cadastraritemRequest" message="tns:cadastraritem"></input>
<output wsam:Action="http://ws.modelo.soap.jaxws.br/EstoqueWS/cadastraritemResponse" message="tns:cadastraritemResponse"></output>
<fault message="tns:AutorizacaoFaultMessageName" name="AutorizacaoFaultMessageName" wsam:Action="http://ws.modelo.soap.jaxws.br/EstoqueWS/cadastraritem/Fault/AutorizacaoException"></fault>
</operation>
<operation name="todosOsItens">
<input wsam:Action="http://ws.modelo.soap.jaxws.br/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"></input>
<output wsam:Action="http://ws.modelo.soap.jaxws.br/EstoqueWS/todosOsItensResponse" message="tns:todosOsItensResponse"></output>
</operation>
</portType>
<binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="gerarRelatorioTeste">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
</operation>
<operation name="cadastraritem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:cadastraritem" part="token" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AutorizacaoFaultMessageName">
<soap:fault name="AutorizacaoFaultMessageName" use="literal"></soap:fault>
</fault>
</operation>
<operation name="todosOsItens">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="EstoqueWSService">
<port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
<soap:address location="http://localhost:8080/estoquews"></soap:address>
</port>
</service>
</definitions>